<div class="tittle">

    <h1>Ver mascota</h1>

</div>
<div class="container">
    <mat-card class="card" >
        <mat-card-title>ringo</mat-card-title>
        <mat-card-content>
            <p><strong>RAZA:</strong>boxer</p>
            <p><strong>COLOR:</strong>bayo</p>
            <p><strong>PESO:</strong>15</p>
            <p><strong>EDAD:</strong>10</p> 
        </mat-card-content>
        <mat-card-actions class="btnVolver" >
            <button routerLink="/listMascotas" mat-raised-button >volver</button>
        </mat-card-actions>
    </mat-card>
</div>
